html
    head 
        title create
        link(rel="stylesheet", href="/css/style.css")
        //- link(rel="stylesheet", href="https://unpkg.com/terminal.css@0.7.1/dist/terminal.min.css")
    body
        header
            h1 Create Your Character's Info 
            nav 
                ul
                    li 
                        a(href='/') Main Hub
                    li 
                        a(href='/builds/') Characters
        main.side-background
            form(action="/builds", method="post")
                select(name='infoId')
                    for info in infos
                        option(value=`${info._id}`) #{info.name}
                    //- a(href=info._id) info
                
                p Build Name:
                input(type="text", name="bname")
                
                p Background:
               
                label(for="nomad") Nomad
                    input(
                        type="radio" 
                        name="background" 
                        value="nomad"
                        id="nomad"
                    )
                br
                label(for="street") Street Kid
                    input(
                        type="radio" 
                        name="background" 
                        value="street"
                        id="street"
                    )
                br
                label(for="corpo") Corpo
                    input(
                        type="radio" 
                        name="background" 
                        value="corpo"
                        id="corpo"
                    )
                br
                p Class:
                |
                label(for="solo") Solo
                    input(
                        type="radio" 
                        name="class" 
                        value='solo'
                        id='solo'
                    )
                br
                label(for="techie") Techie
                    input(
                        type="radio" 
                        name="class" 
                        value='techie'
                        id='techie'
                    )
                br
                label(for="netrunner") Netrunner
                    input(
                        type="radio" 
                        name="class" 
                        value='netrunner'
                        id='netrunner'
                    )
                br
                |
                p Weapons
                |
                label(for="melee") Melee Weapon
                select(name="melee")
                    outgroup
                        option(value="Mantis Blades") Mantis Blades
                        option(value="Gravity Hammer") Gravity Hammer
                        option(value="Katana") Katana   
                    optgroup 
                    label Ranged
                        option(value="Constitutional Arms M2067 Defender") Constitutional Arms M2067 Defender
                    option(value="Militech_ARK-44") Militech_ARK-44
                    option(value="Militech_M-10AF_Lexington") Militech_M-10AF_Lexington
                    option(value="Militech_Crusher") Militech_Crusher
                    option(value="Militech_M-31A1_AICW") Militech_M-31A1_AICW
                br
                label(for="ranged") Ranged Weapons
                select(name="ranged")
                    option(value="Constitutional Arms M2067 Defender") Constitutional Arms M2067 Defender
                    option(value="Militech_ARK-44") Militech_ARK-44
                    option(value="Militech_M-10AF_Lexington") Militech_M-10AF_Lexington
                    option(value="Militech_Crusher") Militech_Crusher
                    option(value="Militech_M-31A1_AICW") Militech_M-31A1_AICW
                br
                
                
                button(type="submit") Submit

                
                