html
    head 
        title create
    body
        header
            h1 Create Your Character's Info 
            nav 
                ul
                    li 
                        a(href='/') Main Hub
                    li 
                        a(href='/infos/') Characters
        main 
            form(action="/infos", method="post")
                p Background:
               
                label(for="background") Nomad
                input(
                    type="radio" 
                    name="background" 
                    value="nomad"
                )
                br
                label(for="background") Street Kid
                input(
                    type="radio" 
                    name="background" 
                    value="street"
                )
                br
                label(for="background") Corpo
                input(
                    type="radio" 
                    name="background" 
                    value="corpo"
                )
                br
                p Class:
                |
                label(for="class") Solo
                input(
                    type="radio" 
                    name="class" 
                    value='solo'
                )
                br
                label(for="class") Techie
                input(
                    type="radio" 
                    name="class" 
                    value='techie'
                )
                br
                label(for="class") Netrunner
                input(
                    type="radio" 
                    name="class" 
                    value='netrunner'
                )
                br