html
    head
        title show
        link(rel="stylesheet", href="/css/style.css")
    body
        header
            h1 Character Build Show
            small 
                a(href="info._id")
            nav 
                ul
                    li
                        a(href='/') Main Hub
                    li 
                        a(href='/builds') Return to List 
        main.side-background
            section
                h2 #{build.bname}'s' Info 
                ul 
                    li=build.background
                    li=build.class
                    li=build.melee
            section
                a(href=`/builds/${build._id}/edit`) Edit
            section
                form(action=`/builds/${build._id}?_method=DELETE`, method="post")
                    button(type="submit") Delete