html
    head 
        title create
        link(rel="stylesheet", href="/css/style.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js")
    body
        header
            h1 Night City Registrar
            nav 
                ul
                    li 
                        a(href='/') Main Hub
                    li 
                        a(href='/infos/') Characters
        main.side-background 
            form(action="/infos", method="post")
                .column
                    label Alias: 
                    input(type="text", name="alias", placeholder="V", class='info-input', disabled='disabled')
                .column
                    label(for="name") Name: 
                    input(
                        type="text" 
                        name="name"
                        
                        class='info-input'
                        autofocus
                    )
                    br 
                .column
                    label(for="Age") Age:
                    input(
                        type="number" 
                        name="age"
                        
                        class='info-input'
                    )
                    br
                .column
                    label(for="ethnicity") Ethnicity: 
                    input(
                        type="text" 
                        name="ethnicity"
                        
                        class='info-input'
                    )
                    br
                .column
                    p Voice:
                    
                    label.radio(for="voice") M
                    input(
                        type="radio" 
                        name="voice" 
                        value="male"
                        class='radio-input'
                        span.checkmark
                    )
                    br
                    label.radio(for="voice") F
                    input(
                        type="radio" 
                        name="voice" 
                        value="female"
                        class='radio-input'
                        span.checkmark
                    )
                    br
                .column    
                    p Sex:
                    |
                    label.radio(for="sex") M
                    input(
                        type="radio" 
                        name="sex" 
                        value='male'
                        class='radio-input'
                        span.checkmark
                    )
                    br
                    label.radio(for="sex") F
                    input(
                        type="radio" 
                        name="sex" 
                        value='female'
                        class='radio-input'
                        span.checkmark
                    )
                    br
                
                label(for="background") Background:
                textarea(
                    name="background" 
                    cols="60" 
                    rows="10"
                    class='info-input'
                )
                button(type="submit") Submit
