html
    head
        title show
        link(rel="stylesheet", href="/css/style.css")
    body
        header
            h1 Character Show
            nav 
                ul
                    li
                        a(href='/') Main Hub
                    li 
                        a(href='/infos') Return to List 
        main
            section
                h2 Info
                ul 
                    li=info.name
                    li=info._id
                    li=info.age
                    li=info.voice
                    li=info.sex
                    li=info.ethnicity
                    li=info.background
                    li=info.createdBy
            section
                a(href=`/infos/${info._id}/edit`) Edit
            section
                h2 Builds
                ul
                    //- for info.build in info.builds
                    //- li
                    //-     a(href=`/builds/${info.builds_id}`) #{info.builds.bname}
                    
            section
                form(action=`/infos/${info._id}?_method=DELETE`, method="post")
                    button(type="submit") Delete