html
    head
        title show
    body
        header
            h1 Character Show
            nav 
                ul
                    li
                        a(href='/') Main Hub
                    li 
                        a(href='/infos') Return to List 
        main
            section
                h2 Info
                ul 
                    li=info.name
                    li=info._id
                    li=info.age
                    li=info.voice
                    li=info.sex
                    li=info.ethnicity
                    li=info.background